{% extends 'FunOldiesMainBundle::layout.html.twig' %}

{% block title %}
    Win Tickets To Beatles vs. Stones - Summer Concert Aug 10th, Tim's Toyota Center
{% endblock %}

{% block description %}
    <meta name="description" content="Win Tickets To Beatles vs. Stones - Summer Concert Aug 10th, Tim's Toyota Center"/>
    <meta property="og:site_name" content="http://funoldies.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="479469978793919" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://funoldies.gcmaz.com{{ asset('images/660x250/beatles-vs-stones.jpg') }}"/>
    <meta property="og:url" content="http://funoldies.gcmaz.com{{ path('fo_contest', {'contest': 'beatles-vs-stones'}) }}"/>
    <meta property="og:title" content="Win Tickets To Beatles vs. Stones - Summer Concert Aug 10th, Tim's Toyota Center"/> 
    <meta property="og:description" content="Win Tickets To Beatles vs. Stones - Summer Concert Aug 10th, Tim's Toyota Center"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, Kingsmen, Surfaris, win tickets"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        form.contactform { font-size: 14px;color:#000; }
        form.contactform div { clear: left; margin-bottom: 10px; }
        form.contactform label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
        form.contactform input[type="text"],
        form.contactform input[type="email"]
            { width: 300px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform select { width:300px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform textarea { width: 300px; height: 150px; line-height: 22px; font-size: 16px; }
        form.contactform input[type="submit"] { margin-left: 115px; width: 308px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform ul li { color: #c00; margin-bottom: 5px; }
        div.notice { float:right;padding:10px;margin:10px;}
    </style>
{% endblock %}

{% block content %}
    <div class="contest" style="background-color:#5cc2d1;">
        <a href="http://www.timstoyotacenter.com/events/details/172-Beatles-Stones" target="_blank">
            <img src="{{asset('images/660x250/beatles-vs-stones.jpg')}}" width="660" height="250" alt="Win Tickets to Beatles vs. Stones - Radio Contest - Prescott" />
        </a>
        <div style="float:left;width:220px;">
            <p style="font-size:1em;font-weight:600;">
                 Vote for your favorite Beatles or Rolling Stones song for a chance to win tickets to see
            </p>
            <p style="font-size:1.8em;font-weight:700;line-height: 1;" class="burgundy cinzel">
                Beatles vs. Stones
            </p>
            <p style="font-size:1em;font-weight:600;">
                in concert at Tim's Toyota Center on August 10th!
            </p>
        </div>
        {% for flashMessage in app.session.flashbag.get('bvssnotice') %}
            <div class="notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form action="{{ path('fo_contest', {'contest':'beatles-vs-stones'}) }}" method="post" {{ form_enctype(form) }} class="contactform" style="float:right;margin-right:15px;">
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            <div>
            {{ form_label(form.comments, 'Favorite Song and Band') }}
            {{ form_errors(form.comments) }}
            {{ form_widget(form.comments) }}
            </div>
                
            {{ form_rest(form) }}

            <input type="submit" value="Submit" />
        </form>
        
        <div class="sponsors">
            <a href="http://www.timstoyotacenter.com/events/details/172-Beatles-Stones" target="_blank"><img src="{{ asset('images/sponsors/tims-toyota-bar.jpg')}}" width="500" height="66" alt="Kingsmen and Surfaris at Tim's Toyota Center" /></a>
        </div>
        <div class="fb-like" data-href="http://funoldies.gcmaz.com{{ path('fo_contest', {'contest': 'beatles-vs-stones'}) }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    </div>
{% endblock %}