{% extends 'FunOldiesMainBundle::layout.html.twig' %}

{% block title %}
    Win Free Coffee For Your Office - Queen of Caffeine - Fun Oldies Radio
{% endblock %}

{% block description %}
    <meta name="description" content="Win Free Coffee For Your Office - Queen of Caffeine - Fun Oldies Radio"/>
    <meta property="og:site_name" content="http://funoldies.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="479469978793919" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://funoldies.gcmaz.com{{ asset('images/660x250/queen-of-caffeine.jpg') }}"/>
    <meta property="og:url" content="http://funoldies.gcmaz.com{{ path('fo_contest', {'contest': 'queen-of-caffeine'}) }}"/>
    <meta property="og:title" content="Win Free Coffee For Your Office - Queen of Caffeine - Fun Oldies Radio"/> 
    <meta property="og:description" content="Win Free Coffee For Your Office - Queen of Caffeine - Fun Oldies Radio"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, free coffee, win coffee"/>
{% endblock %}
    
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        form.contactform { font-size: 14px;color:#f90; }
        form.contactform div { clear: left; margin-bottom: 10px; }
        form.contactform label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
        form.contactform input[type="text"],
        form.contactform input[type="email"]
            { width: 270px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform select { width:270px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform textarea { width: 270px; height: 150px; line-height: 22px; font-size: 16px; }
        form.contactform input[type="submit"] { margin-left: 115px; width: 278px; line-height: 22px; font-size: 16px; min-height: 22px; }
        form.contactform ul li { color: #c00; margin-bottom: 5px; }
        div.notice { float:right;padding:10px;margin:10px;}
    </style>
{% endblock %}

{% block content %}
    <div class="contest arial" style="background-color:#251810;">
        <div class="fb-like" data-href="http://funoldies.gcmaz.com{{ path('fo_contest', {'contest': 'queen-of-caffeine'}) }}" data-send="true" data-width="660" data-show-faces="true" data-font="arial" colorscheme="dark" style="margin:3px 2%;padding:0;"></div>
        <img src="{{asset('images/splash/queen-of-caffeine.jpg')}}" width="660" height="270" alt="Win Free Coffee For Your Office - Queen of Caffeine" usemap="#propane" />
        <p style="font-size:0.9em;font-weight:600;padding:0 20px 10px;color:#ccaa95;line-height:1.5;">
            It’s time to reward your office with a coffee break! Fill out the form telling us why your office deserves a visit from the Queen of Caffeine. Every Thursday we’ll pick a winner and you’ll get FREE coffee and danishes from Olde World Bagels and Market for up to eight people!
        </p>
        <p style="float:left;width:220px;font-size:0.8em;color:#ccaa95;padding:10px 0 0 10px;">
            <a href="https://www.facebook.com/OWBAZ" target="_blank" style="display:block;">
                <img src="{{asset('images/sponsors/olde-world-bagels.jpg')}}" width="200" height="59" alt="Olde World Bagels and Market Prescott, AZ" border="0" />
            </a>
            <br/>
            <span style="color:#fff;">404 West Goodwin Street<br/>Prescott, AZ 86303<br/>928-771-0441</span>
            <br/>
            <a href="https://www.facebook.com/OWBAZ" style="color:#ccaa95;">Our Facebook &raquo;</a>
            <br/><br/>
            Experience one lucid moment within the madness of your day! Visit our Espresso Bar!
            </span>
            <br/><br/><br/><br/><br/><br/><br/>
            <span style="font-size:1.5em;">You can <span style="text-decoration:underline;">also</span> enter by calling Bo in the studio during his morning shift!</span>
            <br/>
            <span style="font-size:1.8em;color:#fff;">928-445-6883</span>
            <br/>
        </p>
        {% for flashMessage in app.session.flashbag.get('caffeinenotice') %}
            <div class="notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form action="{{ path('fo_contest', {'contest':'queen-of-caffeine'}) }}" method="post" {{ form_enctype(form) }} class="contactform" style="float:right;margin-right:15px;">
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
             <div>
            {{ form_label(form.workplace, 'Work Place') }}
            {{ form_errors(form.workplace) }}
            {{ form_widget(form.workplace) }}
            </div>
             <div>
            {{ form_label(form.workplaceaddy, 'Address') }}
            {{ form_errors(form.workplaceaddy) }}
            {{ form_widget(form.workplaceaddy) }}
            </div>
            {{ form_row(form.city) }}
            <div>
            {{ form_label(form.workplacetime, 'Time Open') }}
            {{ form_errors(form.workplacetime) }}
            {{ form_widget(form.workplacetime) }}
            </div>
            <div>
            {{ form_label(form.whywin, 'Why You Should Win') }}
            {{ form_errors(form.whywin) }}
            {{ form_widget(form.whywin) }}
            </div>
                
            {{ form_rest(form) }}

            <input type="submit" value="Submit" />
        </form>
        <br class="clear"/>
    </div>
    <map name="propane" id="propane">
        <area shape="rect" coords="0,200,132,270" href="http://www.barrettpropane.org" target="_blank" alt="Barrett Propane" />
        <area shape="rect" coords="540,240,660,270" href="http://jebblann.com/wordpress/" target="_blank" alt="Jeb Blann Photography" />
    </map>
{% endblock %}